<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
  <h2>User Registration:</h2>
  <form action="registerUser" method="post">
        <pre>
            First Name:        <input type="text" name="firstName"/><br>
            Last Name:         <input type="text" name="lastName"/> <br>
            User Name:         <input type="text" name="email"/> <br>
            Password:          <input type="password" name="password"/> <br>
            Confirm Password:  <input type="password" name="confirmPassword"/> <br>
            <input type="submit" value="REGISTER"/>
</pre>
</form>
</body>
</html>

